<div 
  role="mount-point" 
  class="ember-stripe-card-cvc"
  {{did-insert this.registerListeners}}
  {{did-update this.onOptionsChange}}
></div>
{{#if hasBlock}}
  {{yield this.stripeElement this.stripeError}}
{{/if}}
